@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');

.nav-logo {
    padding-top: 5px;
    padding-right: 10px;
    text-align: center;
    color: #22275E;
}

.navbar {
    background-color: white;
    font-family: 'Oswald', sans-serif;
    color: #22275E;
    /* position: fixed;
    top: 0; */
}

.color-1 {
    color: #22275E;
}

.primary {
    color: #22275E;
    transition: all .3s;
    margin-right: 10px;
}

.primary-logo {
    color: #22275E;
    transition: all .5s;
}

.primary-logo:hover {
    color: #22275E;
    transform: scale(1.2);
}

.primary:hover {
    color: #22275E;
    transform: scale(1.3);
}

.btn-navbar {
    background-color: #22275E;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.10);
    border: 2px solid white;
    transition: 0.3s;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Oswald', sans-serif;
}

.btn-navbar:hover {
    background-color: white;
    color: #22275E;
    border: 2px solid #22275E;
}

@media (max-width: 768px) {
    .primary:hover {
        background-color: white;
        color: #22275E;
        border-radius: 0;
    }
}

. .nav-button {
    color: #22275E;

}

.banner {
    margin-top: 50px;
    min-height: 400px;
}

.banner-content {
    padding-left: 10%;
}

.banner-heading {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 56px;
    text-align: left;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    font-wei;
}

.banner-text {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 30px;
    text-align: left;
    padding-top: 5px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    font-weight: 400;
}

.banner-btn {
    float: left;
    font-family: 'Oswald', sans-serif;
}

/* What we offer */

.section-title {
    position: relative;

}

.section-title p {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 400;
}

.section-title h4 {
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 20px;
    display: inline-block;
}

.section-title h4:before {
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    background-color: #d8d8d8;

    bottom: 0;
    left: 50%;
    margin-left: -40px;
}

.section-title h4:after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background-color: #22275E;
    left: 0;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.services {
    background-color: #FBFBFB;
}

.single-service {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    -webkit-transition: .3s;
    transition: .3s;
    padding: 30px 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16)
}

.single-service:before {
    position: absolute;
    width: 0;
    height: 0;
    background-color: #22275E;
    left: 0;
    top: 0;
    content: "";
    -webkit-transition: .3s;
    transition: .3s
}

.single-service:after {
    position: absolute;
    width: 0;
    height: 0;
    background-color: #22275E;
    right: 0;
    bottom: 0;
    content: "";
    -webkit-transition: .3s;
    transition: .3s
}

.single-service:hover:after,
.single-service:hover:before {
    width: 50%;
    height: 2px;
    -webkit-transition: .3s;
    transition: .3s
}

.single-service:hover {
    box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.10)
}

.single-service i.fa {
    font-size: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    line-height: 60px;
    margin-bottom: 30px;
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s
}

.single-service:hover i.fa {
    background-color: #22275E;
    color: #fff;
    border-color: #22275E;
    border-radius: 0;
}

.single-service h4 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.single-service p {
    font-size: 15px;
    line-height: 1.8;
}

.what-we-offer {
    padding: 3%;
}

.wwo-heading {
    text-align: center;
    padding-bottom: 2%;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: #22275E;

}

/*Testimonial*/

.testimonials {
    padding-top: 75px;
    padding-bottom: 50px;
    background-color: #98C7DB;
    margin-bottom: 50px;
}

.testimonial-heading {
    color: white;
    margin-bottom: 100px;
}

.col-center {
    margin: 0 auto;
    float: none !important;
}

.carousel {
    padding: 0 70px;
}

.carousel .carousel-item {
    color: white;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 290px;
    transition: all 0.5s;
}

.carousel .carousel-item .img-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid white;
    border-radius: 50%;
}

.carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}

.carousel .testimonial {
    padding: 30px 0 10px;
}

.carousel .overview {
    font-style: italic;
}

.carousel .overview b {
    text-transform: uppercase;
    color: white;
}

.carousel-control-prev,
.carousel-control-next {
    width: 40px;
    height: 40px;
    margin-top: 50px;
    top: 50%;
    background: none;
}

.carousel-control-prev i,
.carousel-control-next i {
    font-size: 68px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    
}

.carousel-indicators {
    margin-bottom: -50px;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    margin: 1px 1px;
    border: none;
}


.carousel-indicators li.active {
    width: 12px;
    height: 12px;
    margin: 1px 1px;
    border: none;
}

.carousel-indicators li {
    background: #555;
    border-color: transparent;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.carousel-indicators li.active {
    background: white;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}


/*
Pricing
*/

.price-text{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.price-heading {
    margin-bottom: 5%;
}



/* Footer 
*/

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}